.webixappstart {
	opacity: 0;
}
.webixapp {
	transition: opacity 500ms;
	opacity: 1;
}
.status_good,
.status_error,
.status_saving {
	text-align: center;
	margin-left: -12px;
}
.status_error {
	color: red;
}
.status_good {
	color: green;
}
.webix_layout_line.datatable_activities_toolbar {
	border-top-width: 1px !important;
	border-left-width: 1px !important;
	border-top: 1px solid black;
	border-left: 1px solid black;
}
.add_activity,
.edit_activity {
	font-size: 24px;
	border-bottom-color: black !important;
	text-align: center;
}
.webix_view.webix_form {
	border-top: 1px solid black;
	border-left: 1px solid black;
}
.webix_el_datepicker .webix_inp_static,
.webix_el_combo input,
.webix_el_textarea textarea {
	border-color: black;
}
.datatable_activities {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-color: black !important;
}
.webix_ss_header {
	border-bottom: 1px solid black;
}
.webix_dtable .webix_ss_header .webix_hcolumn div.webix_last_row,
.webix_dtable .webix_ss_header .webix_span.webix_last_row {
	border-bottom: 1px solid black;
}
.webix_dtable .webix_ss_header .webix_hcell,
.webix_dtable .webix_ss_footer .webix_hcell {
	border-color: black;
}
.webix_cell {
	border-bottom: 1px solid black;
}
.webix_column > div {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.webix_dtable .webix_ss_body .webix_column > div,
.webix_dtable .webix_ss_body .webix_table_cell {
	border-right-color: black;
	border-left-color: black;
}
.webix_primary .webix_button,
.webix_primary .webix_button .webix_img_btn,
.webix_secondary .webix_button {
	border-width: 1px;
	color: black;
	background-color: #f4f5f9;
}
.webix_button.webix_img_btn {
	border-width: 1px;
	color: black;
	background-color: white;
	border: 1px solid black;
}
.template_header {
	font-size: 24px;
}
.webix_el_datepicker {
	border: 0px solid black
}
.webix_spacer {
	background-color: white;
}
.webix_view {
	border-color: white;
}
.app_header {
	text-align: center;
	border-bottom: 1px solid black;
}
.webix_header>div {
	border-bottom: 1px solid black;
}
.app_layout.webix_layout_clean {
	background: #EBEDF0;
	border: 1px solid #000000;
}
.app_start .webix_template {
	padding: 12px 12px;
}
.app_menu .webix_icon {
	font-size: 20px;
	vertical-align: middle;
}
.company {
	width: 100px;
	text-align: center;
}
.webix_menu .webix_list_item,
.webix_menu-x .webix_list_item,
.webix_list .webix_list_item.webix_selected {
	border-bottom: 1px solid #000000;
	padding-left: 12px;
}
.webix_list_item,
.webix_list_item.webix_selected {
	border-color: #000000;
}
.webix_menu {
	border-top-width: 1px !important;
	border: 1px solid #000000;
}
.user-contacts__item {
	display: table;
	width: 100%;
	height: 35px;
}
.user-contacts__details {
	text-align: left;
	display: table-cell;
}
.user-contacts {
	border-radius: 0px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
}
.layout_info_contact {
	margin-left: 1px !important;
}
.template_firstLast_name {
	font-size: 32px;
}
.list_item_container,
.user-contacts__fullname,
.user-contacts__company {
	text-align: left;
	padding: 0px;
}
.list_item_container {
	background: rgb(253, 254, 255);
	border-bottom: 1px solid #000000;
}
.user-contacts__photo {
	text-align: left;
	width: 40px;
	display: table-cell;
}
.user-contacts__fullname,
.user-contacts__company {
	font-family: "Source Sans Pro";
	font-size: 16px;
	line-height: 20px;
}
.user-contacts__company {
	font-size: 12px;
}
.photo {
	text-align: center;
	vertical-align: center;
	height: 100% !important;
}
.photo_in {
	height: 100% !important;
	background-color: rgb(209, 209, 209);
}
h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 40px;
	padding-top: 65px;
}
.template_statusId {
	text-align: center;
}
